.container {
  width: 960px;
  height: 1200px;
  margin: auto;
  background-color: grey;
  border-radius: 25px;
}
.container .header {
  width: 100%;
  height: 150px;
  background-color: #9ebdd6;
  border-radius: 25px 25px 0 0;
  margin: auto;
  text-align: center;
  line-height: 150px;
}
.container .header h1 {
  font-size: 48px;
}
.container .sidebar {
  background-color: grey;
  border-radius: 25px;
  float: left;
  width: 265px;
  height: 500px;
}
.container .sidebar ul {
  line-height: 50px;
  font-size: 20px;
}
.container .sidebar ul li {
  list-style: none;
  clear: both;
  color: white;
}
.container .sidebar ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.container .main {
  border-radius: 25px;
  width: calc(100% - 300px);
  height: 100%;
  float: left;
}
.container .main .album-collection {
  float: left;
  padding-left: 40px;
}
.container .main .album-collection h1 {
  font-size: 40px;
}
.container .main .album-collection ul {
  list-style: none;
}
.container .main .album-collection ul li {
  display: inline;
  float: left;
  margin: 19px;
}
.container .main .album-collection ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.container .main .album-collection ul li img {
  border-radius: 25px;
  width: 155px;
  height: 155px;
}
.container .main .photo-collection {
  float: left;
  margin: auto;
  padding-left: 5px;
}
.container .main .photo-collection h1 {
  font-size: 40px;
}
.container .main .photo-collection ul {
  list-style: none;
}
.container .main .photo-collection ul li {
  display: inline;
  float: left;
  margin: 19px;
}
.container .main .photo-collection ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.container .main .photo-collection ul li img {
  border-radius: 25px;
  width: 240px;
  height: 240px;
}
.container .main .photo-collection ul li .photo-name {
  font-size: 15px;
  text-align: center;
}
.container .main .fullPhoto div {
  width: 127px;
  height: 30px;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  border: 1px white solid;
  background-color: #d0d0d0;
}
.container .main .fullPhoto div a {
  text-decoration: none;
  color: #666666;
}
.container .main .fullPhoto img {
  border-radius: 25px;
  width: 600px;
  height: auto;
  margin-top: 35px;
}
.container .main .fullPhoto p {
  color: white;
  font-size: 24px;
  text-align: center;
}
.container .main .thumbBox {
  text-align: center;
}
