.container {
  margin: auto;
  width: 1500px;
  height: 1000px;
  background-color: #a09e9b;
}
.container .header {
  width: 100%;
  height: 150px;
  background-color: #9ebdd6;
  margin: auto;
  text-align: center;
  line-height: 150px;
}
.container .header h1 {
  font-size: 48px;
}
.container .content {
  width: 100%;
  height: 700px;
}
.container .content h1 {
  font-size: 48px;
  text-align: center;
}
.container .content ul {
  list-style: none;
}
.container .content ul li {
  display: inline-block;
  float: left;
  margin: 10px;
}
.container .content .sidebar {
  float: left;
  width: 265px;
  height: 700px;
  margin-left: 50px;
  padding-top: 95px;
}
.container .content .sidebar ul {
  list-style: none;
  line-height: 40px;
  font-size: 20px;
}
.container .content .sidebar ul li {
  clear: both;
}
.container .content .main {
  float: left;
  width: calc(100% - 350px);
  height: 700px;
}
.container .content .main h1 {
  width: calc(100% - 350px);
  font-size: 48px;
  text-align: center;
}
.container .content .main ul {
  list-style: none;
}
.container .content .main ul li {
  display: inline-block;
  float: left;
  margin: 10px;
}
.container .content .main ul li .thumbBox {
  text-align: center;
}
