{{!-- This is the 1st view of all albums on one page
 --}}
 
<li>
  <div class="thumbBox" >
    <div class="sample-photo">
      <img width="300" src="{{photo}}" alt="{{description}}">
    </div>
    <div class="album-name" data-ind-album="{{album}}">{{album}}
    </div>
  </div>
</li>