{{!-- This is the section for the images that are inside the album --}}

<li>
  <div class="pic-box">
    <div class="photo">
      <img width="300" src="{{photo}}" alt="{{description}}">
    </div>
    <div><h4>{{album}}</h4></div>
    <div><p>{{description}}<p></div>
  </div>
</li>