{{!-- This is the 1st view of all albums on one page
 --}}
 
<li>
  <div data-name="{{album_name}}" class="thumbBox" >
    <a href="#">
      <div>
        <img src="{{photo_img}}" alt="{{description}}">
      </div>
      <div class="album-name">{{album_name}}
      </div>
    </a>
  </div>
</li>