{{!-- This is the template for the single picture page --}}

<div class="full-photo">
  <div class="fullPhoto" data-photo-id="{{photo_id}}">
  <a href="#" class="back-btn">Back to Albums</a>
    <img src="{{photo_img}}" alt="{{description}}">
    <p>{{description}}</p>
  </div>
</div>