{{!-- This is the template for the single picture page --}}

<div class="full-photo">
  <a href="#">Back to Albums</a>
  <div class="indPhoto">
    <img src="{{photo}}" alt="{{name}}">
  </div>
</div>