{{!-- This is the template for the single picture page --}}

<div>
  <div class="fullPhoto" >
  <div class="back-btn"><a href="#">Back to Albums</a></div>
    <img src="{{photo_img}}" alt="{{description}}" data-photo-id="{{photo_id}}">
    <p>{{description}}</p>
  </div>
</div>