<li>
  <div class="photo-thumb" data-photo-id="{{photo_id}}" >
    <div class="photo">
      <a href="#">
      <img width="200" height="200"  src="{{photo}}" alt="{{description}}">
      </a>
    </div>
  </div>
</li>