<div class="photo-preview">
  <div class="photo">
    <img width="100" src="{{photo}}" alt name="{{name}}">
  </div>
  <div class="info">
    <strong>Name:</strong>
    <span>{{name}}</span>
  </div>
  <div class="more">
    <a href="#" image-detail-id={{image-detail}}>
    See Image</a>
  </div>
</div>