{{!-- This is the 1st view of all albums on one page
 --}}
 
<li>
  <div class="thumb-box">
    <div class="sample-photo">
      <img width="300" src="{{photo}}" alt="{{description}}">
    </div>
    <div class="album-name"><a href="#" data-album-id={{album}}> {{album}} </a>
    </div>
  </div>
</li>